body {
  margin: 0;
  background: black;
  overflow: hidden;
}

#intro-screen {
  position: fixed;
  inset: 0;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  background: black;
}

#paper-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%) rotate(90deg);
}

#tap-text {

  color: white;

  font-family: 'Special Elite', cursive;

  margin-top: 20px;

}

#wesley-content {
  display: none; /* hidden until video finishes */
  min-height: 100vh;
  background-image: url("wesley-background.png");
  background-size: cover;
  background-position: center;
}


.wesley-page {

  font-family: 'Special Elite', cursive;

}

.wesley-page h1 {

  font-family: 'Permanent Marker', cursive;

}
